body {
    font-family: 'Segoe UI', sans-serif;
    background: #eef3f7;
}

.container {
    max-width: 700px;
}

input {
    border-radius: 10px !important;
}

.btn {
    border-radius: 8px;
    padding: 10px 15px;
}
